*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center; 
 } 

.riga{
    width: 600px;
    display: flex;
    flex-direction: row;
}

.quadrato-griglia{
    height: 100px;
    width: 100px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 3em;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}